asgiref==3.9.0
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
Django==5.2.4
gunicorn==23.0.0
html5lib==1.1
idna==3.10
lxml==6.0.0
orcid==1.0.3
packaging==25.0
requests==2.32.4
simplejson==3.20.1
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==2.5.0
webencodings==0.5.1
