{% extends "base.html" %}
{% load static %}
{% block title %}{% if doi %}{{ doi }}{% else %}{{ block.super }}{% endif %}{% endblock title %}
{% block meta_title %}{% if doi %}{{ doi }}{% else %}{{ block.super }}{% endif %}{% endblock meta_title %}
{% block meta_url %}{% if doi %}{% url "doi" %}?doi={{ doi }}{% else %}{{ block.super }}{% endif %}{% endblock meta_url %}
{% block content %}
    {% if doi and doi != "" and doi != None %}
        {% if DEBUG is True %}<!-- {{ doi }} -->{% endif %}
    <div class="container-fluid py-1">

        <div class="row">
            <div class="col w-90">
                <a class="h1" href="https://doi.org/{{ doi.doi }}" id="title" target="_blank" data-bs-title="{{ doi.title|default:doi.url|striptags }} &lt;https://doi.org/{{ doi.doi }}&gt;" data-bs-toggle="tooltip" title="{{ doi.title|default:doi.url|striptags }} &lt;{{ doi.url }}&gt;">{{ doi.title|default:doi.url|striptags }}</a>
            </div>
            <div class="col w-10 text-end">
                <span class="h2 font-monospace" id="doi" title="DOI: {{ doi.doi }}" data-bs-html="true" data-bs-toggle="tooltip" data-bs-title="DOI: {{ doi.doi }}" data-bs-placement="left">{{ doi.doi }}</span>
                <a role="button" class="bi bi-clipboard h4 text-primary" data-bs-html="true" href="#doi" id="copy-doi" title="Copy DOI to clipboard" data-bs-toggle="tooltip" data-bs-title="Copy DOI to clipboard" data-bs-placement="left"></a>
            </div>
        </div>

        <div class="row">
            <div class="h2 m-1 p-1 col text-start" id="doi-type-source" title="{{ doi.source }} {{ doi.type }}">
                <i>{{ doi.source }}</i>
                <i class="bi bi-{% if doi.type == "book" %}book{% elif doi.type == "journal-article" %}journal-bookmark{% endif %} text-primary-emphasis"></i>
                <span class="font-monospace small">{{ doi.type }}</span>
            </div>
            <div class="h2 fst-italic m-1 p-1 col text-center" id="doi-publisher" title="Publisher: {{ doi.publisher }}">
                {{ doi.publisher }}
            </div>
            <div class="h2 m-1 p-1 col text-end" title="{{ doi.container_title }} ({{ doi.member }})">
                <i>{{ doi.container_title }}</i> (<span class="font-monospace small">{{ doi.member }}</span>)
            </div>
        </div>

    {% if doi.abstract %}
        <div class="row py-2">
            <div class="col">
                <details class="card" open>
                    <summary class="card-header" id="abstract" title="Abstract">
                        <span class="h3 text-start">
                            <i class="bi bi-list-columns-reverse text-primary-emphasis"></i>
                            Abstract
                            <a class="anchor-link bi bi-link-45deg" href="#abstract" aria-label="Link to this section: Abstract (abstract)"></a>
                        </span>
                        <a role="button" class="bi bi-clipboard h4 float-end text-end text-primary" data-bs-html="true" href="#abstract" id="copy-abstract" title="Copy abstract to clipboard" data-bs-toggle="tooltip" data-bs-title="Copy abstract to clipboard" data-bs-placement="right"></a>
                    </summary>
                    <p class="blockquote fs-6 p-2" id="doi-abstract">{{ doi.abstract|striptags }}</p>
                </details>
            </div>
        </div>
    {% endif %}

    {% if doi.bibliography %}
        <div class="row py-2">
            <div class="col">
                <details class="card" open>
                    <summary class="card-header" id="bibliography" title="bibliography">
                        <span class="h3 text-start">
                            <i class="bi bi-text-paragraph text-primary-emphasis"></i>
                            Bibliography
                            <a class="anchor-link bi bi-link-45deg" href="#bibliography" aria-label="Link to this section: Bibliography (bibliography)"></a>
                        </span>
                        <a role="button" class="bi bi-clipboard h4 float-end text-end text-primary" data-bs-html="true" href="#bibliography" id="copy-bibliography" title="Copy bibliography to clipboard" data-bs-toggle="tooltip" data-bs-title="Copy bibliography to clipboard" data-bs-placement="right"></a>
                    </summary>
                    <p class="blockquote fs-6 p-2">
                        <span class="small font-monospace" id="doi-bibliography">{{ doi.bibliography|safe }}</span>
                    </p>
                </details>
            </div>
        </div>
    {% endif %}

        <div class="card-group row">
            <div class="col">
                <details class="card">
                    <summary class="card-header" id="authors" title="Authors: {{ doi.authors|length }}{% if doi.is_penn %} (Penn){% endif %}">
                        <span class="h3">
                            <i class="bi bi-pen text-primary-emphasis"></i>
                            Authors
                            <code class="badge bg-dark rounded-pill border border-secondary text-danger-emphasis">{{ doi.authors|length }}</code>
                            <a class="anchor-link bi bi-link-45deg" href="#authors" aria-label="Link to this section: Authors (authors)"></a>
                        </span>
        {% if doi.is_penn %}
                        <span class="bg-secondary border border-danger badge rounded-pill rounded img-thumbnail text-end float-end" title="{{ UNIVERSITY }}">
                            <img class="penn-shield mx-1 text-end" src="{% static 'penn-shield.png' %}" alt="{{ UNIVERSITY }}">
                        </span>
        {% endif %}
                    </summary>
        {% if doi.authors %}
            {% if DEBUG is True %}<!-- {{ doi.authors }} -->{% endif %}
                    <ol class="list-group list-group-numbered list-group-flush">
            {% for author in doi.authors %}
                {% if DEBUG is true %}<!-- {{ author }} -->{% endif %}
                        <li class="list-group-item list-group-item-action{% if author.sequence == "first" %} fw-bold{% endif %}">
                {% if author.orcid %}
                            <a href="{{ author.orcid }}" target="_blank" title="{{ author.name }} &lt;{{ author.orcid }}&gt;">
                {% endif %}
                                {{ author.name }}
                {% if author.orcid %}
                            </a>
                {% endif %}
                            (<i>{{ author.sequence }}</i>)
                {% if author.is_penn %}
                            <span class="bg-secondary border border-danger badge rounded-pill rounded img-thumbnail text-end float-end" title="{{ UNIVERSITY }}">
                                <img class="penn-shield mx-1 text-end" src="{% static 'penn-shield.png' %}" alt="{{ UNIVERSITY }}">
                            </span>
                {% endif %}
                        </li>
            {% endfor %}
                    </ol>
        {% else %}
                    <div class="card-body">
                        <p class="card-text fst-italic fw-bold text-danger">None</p>
                    </div>
        {% endif %}
                </details>
            </div>

            <div class="col">
                <details class="card">
                    <summary class="card-header" id="references" title="References: {{ doi.references|length }} / Referenced: {{ doi.referenced_by_count }}">
                        <span class="h3 text-start">
                            <i class="bi bi-journals text-primary-emphasis"></i>
                            References
                            <code class="badge bg-dark rounded-pill border border-secondary text-danger-emphasis">{{ doi.references|length }}</code>
                            <a class="anchor-link bi bi-link-45deg" href="#references" aria-label="Link to this section: References (references)"></a>
                        </span>
                        <span class="h4 float-end text-end">
                            <i>Referenced</i>
                            <code class="badge bg-dark rounded-pill border border-secondary text-danger{% if doi.referenced_by_count %}-emphasis{% endif %}">{{ doi.referenced_by_count }}</code>
                        </span>
                    </summary>
        {% if doi.references %}
            {% if DEBUG is True %}<!-- {{ doi.references }} -->{% endif %}
                    <ol class="list-group list-group-numbered list-group-flush">
            {% for reference in doi.references %}
                    {% if DEBUG is True %}<!-- {{ reference }} -->{% endif %}
                    {% include "reference.html" with reference=reference %}
            {% endfor %}
                    </ol>
        {% else %}
                    <div class="card-body">
                        <p class="card-text fst-italic fw-bold text-danger">None</p>
                    </div>
        {% endif %}
                </details>
            </div>

        </div>

        <div class="card-group row py-1">
            <div class="col">
                <details class="card">
                    <summary class="card-header" id="dates" title="Dates">
                        <span class="h3">
                            <i class="bi bi-calendar-week text-primary-emphasis"></i>
                            Dates
                            <a class="anchor-link bi bi-link-45deg" href="#dates" aria-label="Link to this section: Dates (dates)"></a>
                        </span>
                    </summary>
                    <table class="card-body card-text table table-bordered rounded table-responsive table-hover table-striped border-light-subtle container-fluid">
                        <thead>
                            <tr>
                                <th class="bg-dark-subtle">Type</th>
                                <th class="bg-dark-subtle">When</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% include "date.html" with date_name="Created" doi_date=doi.created %}
                        {% include "date.html" with date_name="Deposited" doi_date=doi.deposited %}
                        {% include "date.html" with date_name="Indexed" doi_date=doi.indexed %}
                        {% include "date.html" with date_name="Issued" doi_date=doi.issued %}
                        {% include "date.html" with date_name="Published" doi_date=doi.published %}
                        {% include "date.html" with date_name="Published Online" doi_date=doi.published_online %}
                        {% include "date.html" with date_name="Published Print" doi_date=doi.published_print %}
                        </tbody>
                    </table>
                </details>
            </div>
            <div class="col">
                <details class="card">
                    <summary class="card-header" id="funders" title="Funders: {{ doi.funders|length }}">
                        <span class="h3">
                            <i class="bi bi-cash-stack text-primary-emphasis"></i>
                            Funders
                            <code class="badge bg-dark rounded-pill border border-secondary small text-danger{% if doi.funders %}-emphasis{% endif %}">{{ doi.funders|length }}</code>
                            <a class="anchor-link bi bi-link-45deg" href="#funders" aria-label="Link to this section: Funders (funders)"></a>
                        </span>
                    </summary>
        {% if doi.funders %}
            {% if DEBUG is True %}<!-- {{ doi.funders }} -->{% endif %}
                    <ol class="list-group list-group-numbered list-group-flush">
                {% for funder in doi.funders %}
                    {% if DEBUG is True %}<!-- {{ funder }} -->{% endif %}
                    {% include "funder.html" with funder=funder %}
                {% endfor %}
                    </ol>
        {% else %}
                    <div class="card-body">
                        <p class="card-text fst-italic fw-bold text-danger">None</p>
                    </div>
        {% endif %}
                </details>
            </div>
        </div>

        {% if doi.bibtex %}
        <div class="row p-1">
            <div class="col">
                <details class="card">
                    <summary class="card-header" id="bibtex" title="BibTeX">
                        <span class="h3 text-start">
                            <i class="bi bi-blockquote-left text-primary-emphasis"></i>
                            <label for="doi-bibtex">BibTeX</label>
                            <a class="anchor-link bi bi-link-45deg" href="#bibtex" aria-label="Link to this section: BibTeX (bibtex)"></a>
                        </span>
                        <a role="button" class="bi bi-clipboard h4 float-end text-end text-primary" data-bs-html="true" href="#bibtex" id="copy-bibtex" title="Copy BibTeX to clipboard" data-bs-toggle="tooltip" data-bs-title="Copy BibTeX to clipboard"></a>
                    </summary>
                    <div class="m-3">
                        <p class="blockquote font-monospace fs-6 p-2" id="doi-bibtex">{{ doi.bibtex }}</p>
                    </div>
                </details>
            </div>
        </div>
        {% endif %}

        {% if doi.json %}
        <div class="row p-1">
            <div class="col">
                <details class="card">
                    <summary class="card-header" id="json" title="JSON">
                        <span class="h3 text-start">
                            <i class="bi bi-filetype-json text-primary-emphasis"></i>
                            <label for="doi-json">JSON</label>
                            <a class="anchor-link bi bi-link-45deg" href="#json" aria-label="Link to this section: JSON (json)"></a>
                        </span>
                        <a role="button" class="bi bi-clipboard h4 float-end text-end text-primary" data-bs-html="true" href="#json" id="copy-json" title="Copy JSON to clipboard" data-bs-toggle="tooltip" data-bs-title="Copy JSON to clipboard"></a>
                    </summary>
                    <div class="m-3">
                        <textarea class="font-monospace form-control form-control-sm w-100" id="doi-json" rows="10" aria-readonly="true" readonly>{{ doi.json }}</textarea>
                    </div>
                </details>
            </div>
        </div>
        {% endif %}

    </div>

    {% endif %}
{% endblock content %}
