{% load static %}
<!DOCTYPE html>
<html class="dark" data-bs-theme="dark" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Eric O'Callaghan">
        <meta name="description" content="{{ WEBSITE_TITLE }}">
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="Eric O'Callaghan, Eric OCallaghan, EricOC, Eric OC">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="{{ WEBSITE_TITLE }}">
        <meta property="og:title" content="{{ WEBSITE_TITLE }}: {% block meta_title %}{{ title|default:"Home" }}{% endblock meta_title %}">
        <meta property="og:description" content="{{ WEBSITE_TITLE }}">
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% block meta_image %}{% static 'icon.png' %}{% endblock meta_image %}">
        <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% block meta_url %}{% endblock meta_url %}">
        <title>{{ WEBSITE_TITLE }}: {% block title %}{{ title|default:"Home" }}{% endblock title %}</title>
        <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
        <link href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="{% static 'bootstrap-5.3.7-dist/css/bootstrap.css' %}" rel="stylesheet">
        <script src="{% static 'bootstrap-5.3.7-dist/js/bootstrap.bundle.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstrap-icons-1.13.1/bootstrap-icons.min.css' %}">
        <style>
            .penn-shield { height: 1.5rem; }
            #logo { height: 3rem; }
            #logo:hover { filter: opacity(0.5); transform: translate3d(0, -.3rem, 0); }
            .icon-link-hover { --bs-icon-link-transform: translate3d(0, -.3rem, 0); }
            a { text-decoration: none; }
            a[target="_blank"]::after { margin-left: 0.25rem; content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==); filter: invert(0.5); }
            a:visited, a:visited code, a:visited.h1 { color: var(--bs-purple); }
            a:link.h1 { color: var(--bs-primary); }
            a:active.h1 { color: var(--bs-primary-text-emphasis); }
            summary::marker, a:hover.h1 { color: var(--bs-primary-text-emphasis); }
            details[open] summary::marker { color: var(--bs-danger-text-emphasis); }
            td.doi-date { font-style: italic; }
            td.future-doi-date { font-weight: bold; color: var(--bs-danger-text-emphasis); }
            #btn-back-to-top { position: fixed; bottom: 20px; right: 20px; display: none; }
        </style>
    </head>

    <body>
{% if DEBUG is True %}<!-- {% debug %} -->{% endif %}
        <header class="container-fluid header">
            <nav class="navbar navbar-expand-lg">
                <a class="border border-secondary rounded me-3 p-3 icon-link icon-link-hover navbar-brand text-decoration-none" href="{% url 'home' %}" aria-label="DOI-UI" title="DOI-UI"><img alt="DOI-UI" id="logo" src="{% static 'icon.png' %}"></a>
                <form method="get" action="#search" id="search" role="search">
                    <p>
                        <label class="form-label" for="doi">Please enter a <i>Digital Object Identifier</i></label>
                        <button class="bg-dark border-0 icon-link icon-link-hover p-1 text-secondary" data-bs-toggle="popover" data-bs-html="true" data-bs-title="&lt;strong&gt;Digital Object Identifier (DOI)?&lt;/strong&gt;" data-bs-content="A &lt;a class='fst-italic' href='https://www.doi.org/the-identifier/what-is-a-doi/' target='_blank' title='Digital Object Identifier (DOI) [https://www.doi.org/the-identifier/what-is-a-doi/]'&gt;Digital Object Identifier (DOI)&lt;/a&gt; is a digital identifier of an object, any object — physical, digital, or abstract." type="button">
                            <svg class="bi" aria-hidden="false" role="note">
                                <use xlink:href="{% static 'bootstrap-icons-1.13.1/bootstrap-icons.svg' %}#question-circle"></use>
                            </svg>
                        </button>
                        <i>e.g.</i>
                        <a href="{% url 'home' %}?doi=10.1116/6.0004361#search" title="DOI: 10.1116/6.0004361"><code>10.1116/6.0004361</code></a>,&ensp;
                        <a href="{% url 'home' %}?doi=10.1038/s41586-024-08156-8#search" title="DOI: 10.1038/s41586-024-08156-8"><code>10.1038/s41586-024-08156-8</code></a>,&ensp;
                        <a href="{% url 'home' %}?doi=10.1021/acsenergylett.4c03337#search" title="DOI: 10.1021/acsenergylett.4c03337"><code>10.1021/acsenergylett.4c03337</code></a>.
                    </p>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg" maxlength="255" name="doi" id="doi" tabindex="0" {% if doi %}value="{{ doi.doi }}{% else %}placeholder="10.1038/s41586-024-08156-8{% endif %}" aria-label="DOI">
                        <button class="btn btn-outline-primary btn-lg" type="submit" tabindex="1" value="Search" title="Search">Search</button>
                        <button class="btn btn-outline-secondary btn-lg" id="reset" type="reset" title="Reset">Reset</button>
                    </div>
                </form>
            </nav>
        </header>
        <main class="container-fluid" id="content">
{% block content %}
{% endblock content %}
            <button type="button" class="btn btn-light btn-floating btn-lg" id="btn-back-to-top" data-bs-title="Back To Top" data-bs-toggle="tooltip">
                <i class="bi bi-arrow-up-circle-fill"></i>
            </button>
        </main>
        <footer class="container-fluid">
            <small class="text-start">
                <a class="icon-link icon-link-hover" data-bs-toggle="tooltip" data-bs-title="View source of this page &lt;https://github.com/ericoc/doi-ui&gt;" href="https://github.com/ericoc/doi-ui" id="source" target="_blank" title="View source of this page &lt;https://github.com/ericoc/doi-ui&gt;"><i class="bi bi-code-slash"></i> <code>https://github.com/ericoc/doi-ui</code></a>
            </small>
        </footer>
        <script>
{% if doi %}
            // Button to copy-paste current DOI.
            async function copyDOI(text) {
                try {
                    await navigator.clipboard.writeText(text)
                } catch (err) {
                    console.error("Failed to copy text: ", err)
                }
            }
            const copyDOIButton = document.getElementById("copy-doi")
            const currentDOI = document.getElementById("current-doi").innerText
            copyDOIButton.addEventListener("click", () => {
                if (copyDOI(currentDOI)) {
                    let tooltipInner = document.getElementsByClassName('tooltip-inner')
                    tooltipInner[0].innerHTML = "Copied!"
                }
            })
{% endif %}
            // Button to scroll to top of page.
            let goUpButton = document.getElementById("btn-back-to-top")
            window.onscroll = function () { scrollFunction() }
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    goUpButton.style.display = "block"
                } else {
                    goUpButton.style.display = "none"
                }
            }
            goUpButton.addEventListener("click", backToTop)
            async function backToTop() {
                let tooltipInner = document.getElementsByClassName("tooltip-inner")
                tooltipInner[0].innerHTML = "Scrolling!"
                document.body.scrollTop = 0
                document.documentElement.scrollTop = 0
            }

            // Bootstrap tooltips and popovers.
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
        </script>
    </body>
</html>
