<!DOCTYPE html>
<html class="dark" data-bs-theme="dark" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Eric O'Callaghan">
        <meta name="description" content="DOI Search{% if doi and doi.doi %}: Results ({{ doi.doi }}){% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DOI Search{% if doi and doi.doi %}: Results ({{ doi.doi }}){% endif %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='bootstrap-5.3.6-dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap-icons-1.13.1/bootstrap-icons.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap-5.3.6-dist/js/bootstrap.bundle.min.js') }}"></script>
        <style>
            .penn-shield { height: 1.5rem; }
            #logo { height: 3rem; }
            #logo:hover { filter: opacity(0.5); transform: translate3d(0, -.3rem, 0); }
            .icon-link-hover { --bs-icon-link-transform: translate3d(0, -.3rem, 0); }
            a { text-decoration: none; }
            a[target="_blank"]::after { margin-left: 0.25rem; content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==); filter: invert(0.5); }
            a:visited, a:visited code, a:visited.h1 { color: var(--bs-purple); }
            #btn-back-to-top { position: fixed; bottom: 20px; right: 20px; display: none; }

            summary::marker { color: var(--bs-primary-text-emphasis); }
            details[open] summary::marker { color: var(--bs-danger-text-emphasis); }

            td.doi-date { font-style: italic; }
            td.future-doi-date { font-weight: bold; color: var(--bs-danger-text-emphasis); }
        </style>
    </head>
    <body>
        <header class="container-fluid header">
            <nav class="navbar navbar-expand-lg">
                <a class="border border-secondary rounded me-3 p-3 icon-link icon-link-hover navbar-brand text-decoration-none" href="{{ url_for('index') }}" aria-label="DOI-UI" title="DOI-UI"><img alt="DOI-UI" id="logo" src="{{ url_for('static', filename='icon.png') }}"></a>
                <form method="get" action="#search" id="search" role="search">
                    <p>
                        <label class="form-label" for="doi">Please enter a <i>Digital Object Identifier</i></label>
                        <button class="bg-dark border-0 icon-link icon-link-hover p-1 text-secondary" data-bs-toggle="popover" data-bs-html="true" data-bs-title="&lt;strong&gt;Digital Object Identifier (DOI)?&lt;/strong&gt;" data-bs-content="A &lt;a class='fst-italic' href='https://www.doi.org/' target='_blank' title='Digital Object Identifier (DOI) [https://www.doi.org/]'&gt;Digital Object Identifier (DOI)&lt;/a&gt; is a digital identifier of an object, any object — physical, digital, or abstract." type="button">
                            <svg class="bi" aria-hidden="false" role="note">
                                <use xlink:href="{{ url_for('static', filename='bootstrap-icons-1.13.1/bootstrap-icons.svg') }}#question-circle"></use>
                            </svg>
                        </button>
                        <i>e.g.</i>
                        <a href="?doi=10.1116/6.0004361#search" title="Search DOI: 10.1116/6.0004361"><code>10.1116/6.0004361</code></a>,&ensp;
                        <a href="?doi=10.1038/s41586-024-08156-8#search" title="Search DOI: 10.1038/s41586-024-08156-8"><code>10.1038/s41586-024-08156-8</code></a>,&ensp;
                        <a href="?doi=10.1021/acsenergylett.4c03337#search" title="Search DOI: 10.1021/acsenergylett.4c03337"><code>10.1021/acsenergylett.4c03337</code></a>
                    </p>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control form-control-lg" maxlength="255" name="doi" id="doi" tabindex="0" {% if doi %}value="{{ doi.doi }}{% else %}placeholder="10.1038/s41586-024-08156-8{% endif %}" aria-label="DOI">
                        <button class="btn btn-outline-primary btn-lg" type="submit" tabindex="1" value="Search">Search</button>
                        <button class="btn btn-outline-secondary btn-lg" id="reset" type="reset">Reset</button>
                    </div>
                </form>
            </nav>
        </header>
        <main class="container-fluid">
{%- with messages = get_flashed_messages(with_categories=False) %}
    {%- if messages %}
        {%- for message in messages %}
            <div class="alert alert-danger fw-bold m-3 p-3 border border-light-subtle w-75">
                {{ message }}
            </div>
        {%- endfor %}
    {%- endif %}
{%- endwith %}
{%- if doi and doi != "" and doi != None %}
    {%- if debug %}
        <!--
            {{ doi }}
        -->
    {%- endif %}
            <div class="container-fluid py-3">
                <a class="h1" href="{{ doi.url }}" id="title" target="_blank" data-bs-title="{{ doi.title|default(doi.url) }} &lt;{{ doi.url }}&gt;" data-bs-toggle="tooltip" title="{{ doi.title|default(doi.url) }} &lt;{{ doi.url }}&gt;">{{ doi.title|default(doi.url) }}</a>
                <div class="row">
                    <div class="h2 m-1 p-1 col text-start">
                        <code id="current-doi" title="DOI: {{ doi.doi }}">{{ doi.doi }}</code>
                        <a role="button" class="bi bi-copy" data-bs-html="true" id="copy-doi" title="Copy '{{ doi.doi }}' to clipboard" data-bs-toggle="tooltip" data-bs-title="Copy &lt;span class='fw-bold font-monospace'&gt;{{ doi.doi }}&lt;/span&gt; to clipboard"></a>
                    </div>
                    <div class="h2 fst-italic m-1 p-1 col text-center" id="doi-publisher" title="Publisher: {{ doi.publisher }}">
                        {{ doi.publisher }}
                    </div>
                    <div class="h2 m-1 p-1 col text-end" id="doi-type" title="Type: {{ doi.type }}">
                        {{ doi.type }}
                    </div>
                </div>
    {%- if doi.abstract %}
                <div class="row">
                    <div class="col m-1 p-1">
                        <blockquote class="blockquote px-3" id="doi-abstract">
                            {{ doi.abstract }}
                        </blockquote>
                    </div>
                </div>
    {%- endif %}
                <div class="card-group row">
    {%- if doi.authors %}
        {%- if debug %}
        <!--
            {{ doi.authors }}
        -->
        {%- endif %}

                    <div class="col m-1 p-1">
                        <details class="card">
                            <summary class="card-header" id="authors" title="Authors: {{ doi.authors|length }}{%- if doi.is_penn %} (Penn){%- endif %}">
                                <span class="h3">Authors</span>
                                <code class="badge bg-dark rounded-pill border border-secondary text-danger-emphasis">{{ doi.authors|length }}</code>
        {%- if doi.is_penn %}
                                <span class="bg-secondary border border-danger badge rounded-pill rounded img-thumbnail" title="University of Pennsylvania">
                                    <img class="penn-shield mx-1" src="{{ url_for('static', filename='penn-shield.png') }}" alt="University of Pennsylvania Shield Logo Icon">
                                </span>
        {%- endif %}
                                <a class="anchor-link bi bi-link-45deg" href="#authors" aria-label="Link to this section: Authors (authors)"></a>
                            </summary>
                            <ol class="list-group list-group-numbered list-group-flush">
        {%- for author in doi.authors %}
            {%- if debug %}
                <!--
                    {{ author }}
                -->
            {%- endif %}
                                <li class="list-group-item list-group-item-action{% if author.sequence == "first" %} fw-bold{% endif %}">
            {%- if author.orcid %}
                                    <a href="{{ author.orcid }}" target="_blank" title="{{ author.name }} &lt;{{ author.orcid }}&gt;">
            {%- endif -%}
                                        {{ author.name }}
            {%- if author.orcid -%}
                                    </a>
            {%- endif %}
                                    (<i>{{ author.sequence }}</i>)
            {%- if author.is_penn %}
                                    <span class="bg-secondary border border-danger badge rounded-pill rounded img-thumbnail" title="University of Pennsylvania">
                                        <img class="penn-shield mx-1" src="{{ url_for('static', filename='penn-shield.png') }}" alt="University of Pennsylvania Shield Logo Icon">
                                    </span>
            {%- endif %}
                                </li>
        {%- endfor %}
                            </ol>
                        </details>
                    </div>
    {%- endif %}
                    <div class="col m-1 p-1">
                        <details class="card">
                            <summary class="card-header" id="references" title="References: {{ doi.references|length }} / Referenced By: {{ doi.referenced_by_count }}">
                                <span class="h3">References</span>
                                <code class="badge bg-dark rounded-pill border border-secondary text-danger-emphasis">{{ doi.references|length }}</code>
                                <a class="anchor-link bi bi-link-45deg" href="#references" aria-label="Link to this section: References (references)"></a>
                                <span class="text-end align-self-end" title="Referenced by: {{ doi.referenced_by_count }}">
                                    <i class="ms-3">Referenced by</i>:
                                    <code class="badge bg-dark rounded-pill border border-secondary text-danger-emphasis">{{ doi.referenced_by_count }}</code>
                                </span>
                            </summary>
    {%- if doi.references %}
                            <ol class="list-group list-group-numbered list-group-flush">
        {%- for reference in doi.references %}
            {%- if debug %}
                <!--
                    {{ reference }}
                -->
            {%- endif %}
                                <li class="list-group-item list-group-item-action">
            {%- if reference["DOI"] %}
                                    <a href="?doi={{ reference["DOI"] }}#search" title="{{ reference["unstructured"]|default(reference["DOI"]) }}">
            {%- endif %}
            {%- if reference["unstructured"] %}
                                        {{ reference["unstructured"] }}
                {%- if reference["DOI"] %}
                                        (<code>{{ reference["DOI"] }}</code>)
                {%- endif %}
            {%- elif reference["DOI"] %}
                                        <code>{{ reference["DOI"] }}</code>
            {%- else %}
                                        <code>{{ reference }}</code>
            {%- endif %}
            {%- if reference["DOI"] %}
                                    </a>
            {%- endif %}
            {%- if reference["journal-title"] %}
                                    - <i>{{ reference["journal-title"] }}</i>
            {%- endif %}
            {%- if reference["volume-title"] %}
                                    <i>{{ reference["volume-title"] }}</i>
            {%- endif %}
            {%- if reference["year"] %}
                                    (<span class="font-monospace">{{ reference["year"]}}</span>)
            {%- endif %}
            {%- if reference["author"] %}
                                    by <i>{{ reference["author"] }}</i>
            {%- endif %}
                                </li>
        {%- endfor %}
                            </ol>
    {%- else %}
                            <div class="card-body">
                                <p class="card-text fst-italic fw-bold text-danger-emphasis">
                                    None
                                </p>
                            </div>
    {%- endif %}
                        </details>
                    </div>

                </div>

                <div class="card-group row">

                    <div class="col m-1 p-1">
                        <details class="card">
                            <summary class="card-header" id="dates" title="Dates">
                                <span class="h3">Dates</span>
                                <a class="anchor-link bi bi-link-45deg" href="#dates" aria-label="Link to this section: Dates (dates)"></a>
                            </summary>
                            <table class="card-body card-text table table-bordered rounded table-responsive table-hover table-striped border-light-subtle container-fluid">
                                <thead>
                                    <tr>
                                        <th class="bg-dark-subtle">Type</th>
                                        <th class="bg-dark-subtle">When</th>
                                    </tr>
                                </thead>
                                <tbody>
    {%- if doi.created %}
                                    <tr title="{{ doi.created|prettytime }} [{{ doi.created }}]">
                                        <td class="fw-bold">Created</td>
                                        <td class="{% if doi.created|isfuture %}future-{%- endif %}doi-date">
                                            {{ doi.created|prettytime }}
                                        </td>
                                    </tr>
    {%- endif %}
    {%- if doi.deposited %}
                                    <tr title="{{ doi.deposited|prettytime }} [{{ doi.deposited }}]">
                                        <td class="fw-bold">Deposited</td>
                                        <td class="{% if doi.deposited|isfuture %}future-{%- endif %}doi-date">
                                            {{ doi.deposited|prettytime }}
                                        </td>
                                    </tr>
    {%- endif %}
    {%- if doi.indexed %}
                                    <tr title="{{ doi.indexed|prettytime }} [{{ doi.indexed }}]">
                                        <td class="fw-bold">Indexed</td>
                                        <td class="{% if doi.indexed|isfuture %}future-{%- endif %}doi-date">
                                            {{ doi.indexed|prettytime }}
                                        </td>
                                    </tr>
    {%- endif %}
    {%- if doi.issued %}
                                    <tr title="{{ doi.issued|prettytime }} [{{ doi.issued }}]">
                                        <td class="fw-bold">Issued</td>
                                        <td class="{% if doi.issued|isfuture %}future-{%- endif %}doi-date">
                                            {{ doi.issued|prettytime }}
                                        </td>
                                    </tr>
    {%- endif %}
    {%- if doi.published %}
                                    <tr title="[{{ doi.published }}]">
                                        <td class="fw-bold">Published</td>
                                        <td class="{% if doi.published|isfuture %}future-{%- endif %}doi-date">
                                            {{ doi.published|prettytime }}
                                        </td>
                                    </tr>
    {%- endif %}
    {%- if doi.published_online %}
                                    <tr title="{{ doi.published_online|prettytime }} [{{ doi.published_online }}]">
                                        <td class="fw-bold">Published Online</td>
                                        <td class="{% if doi.published_online|isfuture %}future-{%- endif %}doi-date">
                                            {{ doi.published_online|prettytime }}
                                        </td>
                                    </tr>
    {%- endif %}
    {%- if doi.published_print %}
                                    <tr title="{{ doi.published_print|prettytime }} [{{ doi.published_print }}]">
                                        <td class="fw-bold">Published Print</td>
                                        <td class="{% if doi.published_print|isfuture %}future-{%- endif %}doi-date">
                                            {{ doi.published_print|prettytime }}
                                        </td>
                                    </tr>
    {%- endif %}
                                </tbody>
                            </table>
                        </details>
                    </div>

                    <div class="col m-1 p-1">

                        <details class="card">
                            <summary class="card-header" id="funders" title="Funders: {{ doi.funders|length }}">
                                <span class="h3">Funders</span>
                                <code class="badge bg-dark rounded-pill border border-secondary text-danger-emphasis">{{ doi.funders|length }}</code>
                                <a class="anchor-link bi bi-link-45deg" href="#funders" aria-label="Link to this section: Funders (funders)"></a>
                            </summary>
    {%- if doi.funders %}
                            <ol class="card-body list-group list-group-numbered list-group-flush">
        {%- for funder in doi.funders %}
            {%- if debug %}
        <!--
            {{ funder }}
        -->
            {%- endif %}
                                <li class="card-text list-group-item">
                                    <b title="{{ funder.name }}">{{ funder.name }}</b>
            {%- if funder.preferred_label and funder.preferred_label != funder.name %}
                                    : <i>{{ funder.preferred_label }}</i>
            {%- endif %}
            {%- if funder.alternative_label and funder.alternative_label != funder.name and funder.alternative_label != funder.preferred_label %}
                                    - <i>{{ funder.alternative_label }}</i>
            {%- endif %}
                                    <ol class="list-group list-group-flush">
            {%- if funder.fund_doi %}
                                        <li class="list-group-item" title="{{ funder.fund_doi }}">
                                            <code>
                                                {{ funder.fund_doi }}
                                            </code>
                                        </li>
            {%- endif %}
            {%- if funder.awards %}
                                        <li class="list-group-item">
                                            <details class="ms-3" open>
                                                <summary title="Awards">
                                                    <b>Awards</b>
                                                    <code class="badge bg-dark rounded-pill border border-secondary text-danger-emphasis">{{ funder.awards|length }}</code>
                                                </summary>
                                                <ol class="list-group list-group-flush ms-3">
                {%- for award in funder.awards %}
                                                    <li class="font-monospace list-group-item" id="awards-{{ award }}" title="{{ award }}">
                                                        {{ award }}
                                                    </li>
                {%- endfor %}
                                                </ol>
                                            </details>
                                        </li>
            {%- endif %}
                                    </ol>
                                </li>
        {%- endfor %}
                            </ol>
    {%- else %}
                            <div class="card-body">
                                <p class="card-text fst-italic fw-bold text-danger-emphasis">
                                    None
                                </p>
                            </div>
    {%- endif %}
                        </details>

                    </div>
                </div>

    {%- if doi.json %}
                    <div class="row py-3">
                        <div class="col m-1 p-1">
                            <details class="card">
                                <summary class="card-header" data-bs-toggle="tooltip" data-bs-title="Raw Data" id="raw-data" title="Raw Data">
                                    <label class="h3" for="doi-json">Raw Data</label>
                                    <a class="anchor-link bi bi-link-45deg" href="#raw-data" aria-label="Link to this section: Raw Data (raw-data)"></a>
                                </summary>
                                <div class="m-3">
                                    <textarea class="font-monospace form-control form-control-sm w-100" id="doi-json" rows="10" aria-readonly="true" readonly>{{ doi.json }}</textarea>
                                </div>
                            </details>
                        </div>
                    </div>
    {%- endif %}
                </div>

            <button type="button" class="btn btn-light btn-floating btn-lg" id="btn-back-to-top" data-bs-title="Back To Top" data-bs-toggle="tooltip">
                <i class="bi bi-arrow-up-circle-fill"></i>
            </button>

{%- endif %}
        </main>
        <footer class="container-fluid py-1">
            <small class="text-start">
                <a class="icon-link icon-link-hover" data-bs-toggle="tooltip" data-bs-title="View source of this page &lt;https://github.com/ericoc/doi-ui&gt;" href="https://github.com/ericoc/doi-ui" id="source" target="_blank" title="View source of this page &lt;https://github.com/ericoc/doi-ui&gt;"><i class="bi bi-code-slash"></i> <code>https://github.com/ericoc/doi-ui</code></a>
            </small>
        </footer>
{%- if doi %}
        <script>
            // Copy-paste button for the DOI.
            async function copyDOI(text) {
                try {
                    await navigator.clipboard.writeText(text)
                } catch (err) {
                    console.error("Failed to copy text: ", err)
                }
            }
            const copyDOIButton = document.getElementById("copy-doi")
            const currentDOI = document.getElementById("current-doi").innerText
            copyDOIButton.addEventListener("click", () => {
                if (copyDOI(currentDOI)) {
                    let tooltipInner = document.getElementsByClassName('tooltip-inner')
                    tooltipInner[0].innerHTML = "Copied!"
                }
            })

            // Button to jump to top of page.
            let goUpButton = document.getElementById("btn-back-to-top")
            window.onscroll = function () {
                scrollFunction()
            }
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    goUpButton.style.display = "block"
                } else {
                    goUpButton.style.display = "none"
                }
            }
            goUpButton.addEventListener("click", backToTop)
            function backToTop() {
                let tooltipInner = document.getElementsByClassName("tooltip-inner")
                tooltipInner[0].innerHTML = "Scrolling!"
                document.body.scrollTop = 0
                document.documentElement.scrollTop = 0
            }
        </script>
{%- endif %}
        <script>
            // Enable Bootstrap tooltips and popovers.
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
        </script>
    </body>
</html>
