<!DOCTYPE html>
<html class="dark" data-bs-theme="dark" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Eric O'Callaghan">
        <meta name="description" content="DOI Search">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DOI Search</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link href="{{ url_for('static', filename='bootstrap-5.3.6-dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='bootstrap-5.3.6-dist/js/bootstrap.bundle.min.js') }}"></script>
        <link href="{{ url_for('static', filename='bootstrap-icons-1.13.1/bootstrap-icons.min.css') }}" rel="stylesheet">
        <style>
            #logo { height: 3rem; }
            #logo:hover { filter: opacity(0.5); transform: translate3d(0, -.3rem, 0); }
            .icon-link-hover { --bs-icon-link-transform: translate3d(0, -.3rem, 0); }
            a[target="_blank"]::after { margin-left: 0.25rem; content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==); filter: invert(0.5); }
        </style>
    </head>
    <body>
        <header class="container-fluid header">
            <nav class="navbar navbar-expand-md gap-1">
                <a class="btn btn-nav icon-link icon-link-hover text-white text-decoration-none" href="{{ url_for('index') }}" aria-label="DOI-UI" title="DOI-UI">
                    <img alt="DOI-UI" id="logo" src="{{ url_for('static', filename='icon.png') }}">
                </a>
            </nav>
        </header>
        <main class="container-fluid">
{%- with messages = get_flashed_messages(with_categories=False) %}
    {%- if messages %}
        {%- for message in messages %}
            <div class="alert alert-danger m-3 p-3 border border-light-subtle w-75">
                <span class="fw-bold">{{ message }}</span>
            </div>
        {%- endfor %}
    {%- endif %}
{%- endwith %}
            <form class="mx-3" method="get" action="#search" id="search">
                <div class="input-group m-3" style="width: 75%;">
                    <input type="text" class="form-control" maxlength="255" name="doi" id="doi" tabindex="0" {% if doi %}value="{{ doi.doi }}{% else %}placeholder="10.1038/s41586-024-08156-8{% endif %}" aria-label="DOI">
                    <button class="btn btn-outline-primary" type="submit" tabindex="1" value="Search">Search</button>
                    <button class="btn btn-outline-secondary" id="reset" type="reset">Reset</button>
                </div>
            </form>
            <p class="mx-3">
                <label for="doi" class="m-3">
                    Please enter a <i>Digital Object Identifier (DOI)</i>
                    <button class="bg-dark border-0 icon-link icon-link-hover p-1 text-secondary" data-bs-toggle="popover" data-bs-html="true" data-bs-title="&lt;strong&gt;Digital Object Identifier (DOI)?&lt;/strong&gt;" data-bs-content="&lt;strong&gt;A &lt;a href='https://www.doi.org/' title='Digital Object Identifier (DOI) [https://www.doi.org/]'&gt;Digital Object Identifier (DOI)&lt;/a&gt; is a digital identifier of an object&lt;/strong&gt;, any object — physical, digital, or abstract." type="button">
                        <svg class="bi" aria-hidden="false" role="note">
                            <use xlink:href="{{ url_for('static', filename='bootstrap-icons-1.13.1/bootstrap-icons.svg') }}#question-circle"></use>
                        </svg>
                    </button>
                    &mdash;
                    <i>such as</i> <a class="font-monospace" href="?doi=10.1038/s41586-024-08156-8#search" title="Search DOI: 10.1038/s41586-024-08156-8">10.1038/s41586-024-08156-8</a>.
                </label>
            </p>
{%- if doi and doi != "" and doi != None %}
            <hr class="border-3 border-top border-light-subtle">
            <div class="container-fluid">
                <a class="h1 text-primary-emphasis" href="{{ doi.url }}" id="title" target="_blank" title="{{ doi.title }} <{{ doi.url }}>">{{ doi.title }}</a>
                <div class="row">
                    <span class="h2 m-3 p-1 col" title="{{ doi.doi }}"><code>{{ doi.doi }}</code></span>
                    <span class="h2 m-3 p-1 col" title="{{ doi.publisher }}">{{ doi.publisher }}</span>
                    <span class="h2 m-3 p-1 col" title="{{ doi.type }}">{{ doi.type }}</span>
                </div>
                <div class="card-group row">
    {%- if doi.authors %}
                    <div class="col m-3 p-1">
                        <details class="card" open>
                            <summary class="card-header" id="authors" title="Authors ({{ doi.authors|length }})">
                                <span class="border-secondary h3">Authors</span>
                                <span class="badge bg-dark rounded-pill border border-secondary"><code>{{ doi.authors|length }}</code></span>
                                <a class="anchor-link" href="#authors" aria-label="Link to this section: Authors (authors)">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </summary>
                            <ol class="list-group list-group-numbered list-group-flush">
        {%- for author in doi.authors %}
                                <li class="list-group-item list-group-item-action{% if author.sequence == "first" %} fw-bold{% endif %}">
            {%- if author["ORCID"] %}
                                    <a href="{{ author["ORCID"] }}" target="_blank" title="{{ author.given }} {{ author.family }} <{{ author["ORCID"] }}>">
            {%- endif %}
                                        {{ author.given }} {{ author.family }}
            {%- if author["ORCID"] %}
                                    </a>
            {%- endif %}
                                        (<i>{{ author.sequence }}</i>)
                                </li>
        {%- endfor %}
                            </ol>
                        </details>
                    </div>
    {%- endif %}
                    <div class="col m-3 p-1">
    {%- if doi.references %}
                        <details class="card" open>
                            <summary class="card-header" id="references" title="References ({{ doi.references|length }})">
                                <span class="border-secondary h3">References</span>
                                <span class="badge bg-dark rounded-pill border border-secondary"><code>{{ doi.references|length }}</code></span>
                                <a class="anchor-link" href="#references" aria-label="Link to this section: References (references)">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </summary>
                            <ol class="card-body list-group list-group-numbered list-group-flush">
        {%- for reference in doi.references %}
                                <li class="list-group-item list-group-item-action">
            {%- if reference["DOI"] %}
                                    <a href="?doi={{ reference["DOI"] }}#search" title="{{ reference["unstructured"]|default(reference["DOI"]) }}">
            {%- endif %}
            {%- if reference["unstructured"] %}
                                        {{ reference["unstructured"] }}
                {%- if reference["DOI"] %}
                                        (<code>{{ reference["DOI"] }}</code>)
                {%- endif %}
            {%- elif reference["DOI"] %}
                                        <code>{{ reference["DOI"] }}</code>
            {%- else %}
                                        <code>{{ reference }}</code>
            {%- endif %}
            {%- if reference["DOI"] %}
                                    </a>
            {%- endif %}
                                </li>
        {%- endfor %}
                            </ol>
                        </details>
    {%- endif %}
                        <i class="ms-3">Referenced by</i>: <code>{{ doi.referenced_by_count }}</code>
                    </div>
                    <div class="col m-3 p-1">
                        <details class="card" open>
                            <summary class="card-header" id="dates" title="Dates">
                                <span class="border-secondary h3">Dates</span>
                                <a class="anchor-link" href="#dates" aria-label="Link to this section: Dates (dates)">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </summary>
                            <table class="card-body card-text table table-bordered rounded table-responsive table-hover table-striped border-light-subtle container-fluid">
                                <thead>
                                    <tr class="border-secondary">
                                        <th class="bg-dark-subtle">Type</th>
                                        <th class="bg-dark-subtle">When</th>
                                    </tr>
                                </thead>
                                <tbody>
    {%- if doi.created %}
                                    <tr title="{{ doi.created|prettytime }} [{{ doi.created }}]">
                                        <td class="fw-bold">Created</td>
                                        <td>{{ doi.created|prettytime }}</td>
                                    </tr>
    {%- endif %}
    {%- if doi.deposited %}
                                    <tr title="{{ doi.deposited|prettytime }} [{{ doi.deposited }}]">
                                        <td class="fw-bold">Deposited</td>
                                        <td>{{ doi.deposited|prettytime }}</td>
                                    </tr>
    {%- endif %}
    {%- if doi.indexed %}
                                    <tr title="{{ doi.indexed|prettytime }} [{{ doi.indexed }}]">
                                        <td class="fw-bold">Indexed</td>
                                        <td>{{ doi.indexed|prettytime }}</td>
                                    </tr>
    {%- endif %}
    {%- if doi.issued %}
                                    <tr title="{{ doi.issued|prettytime }} [{{ doi.issued }}]">
                                        <td class="fw-bold">Issued</td>
                                        <td>{{ doi.issued|prettytime }}</td>
                                    </tr>
    {%- endif %}
    {%- if doi.published %}
                                    <tr title="[{{ doi.published }}]">
                                        <td class="fw-bold">Published</td>
                                        <td>{{ doi.published|prettytime }}</td>
                                    </tr>
    {%- endif %}
    {%- if doi.published_online %}
                                    <tr title="{{ doi.published_online|prettytime }} [{{ doi.published_online }}]">
                                        <td class="fw-bold">Published Online</td>
                                        <td>{{ doi.published_online|prettytime }}</td>
                                    </tr>
    {%- endif %}
    {%- if doi.published_print %}
                                    <tr title="{{ doi.published_print|prettytime }} [{{ doi.published_print }}]">
                                        <td class="fw-bold">Published Print</td>
                                        <td>{{ doi.published_print|prettytime }}</td>
                                    </tr>
    {%- endif %}
                                </tbody>
                            </table>
                        </details>
                    </div>
                </div>
            </div>
{%- endif %}
        </main>
        <footer class="container-fluid text-end">
            <small>
                <a class="mx-3 p-1 font-monospace icon-link icon-link-hover" href="https://github.com/ericoc/doi-ui" id="source" target="_blank" title="View source of this page &lt;https://github.com/ericoc/doi-ui&gt;">
                    <i class="bi bi-code-slash"></i>
                    https://github.com/ericoc/doi-ui
                </a>
            </small>
        </footer>
        <script>
            // Enable Bootstrap tooltips and popovers.
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
            const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
            const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
        </script>
    </body>
</html>
